.navbar-brand img {
  max-height: 32px;
  max-width: 32px;
  width: auto;
  height: auto;
  object-fit: contain;
}

::ng-deep .has-notifications .mat-badge-content {
  top: 2px !important;
  right: 2px !important;
  border-radius: 4px !important;
  border: none !important;
  box-shadow: none !important;
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  padding: 0 2px;
  font-size: 10px;
}
