.container-fluid {
  padding: 24px;
}

mat-cell code.badge {
  font-size: 11px;
}

mat-header-row, mat-row {
  min-height: 56px;
}

.mat-column-displayName {
  min-width: 260px;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .text-muted {
    margin-top: 2px;
    white-space: normal;
    line-height: 1.3;
  }
}
